<div class="center">
  <p class="title">
    Márkák
  </p>

  <div class="top-row">
    <button color="primary" mat-raised-button (click)="dialogInit(null)">
      <mat-icon>add</mat-icon>
      Új márka felvétele
    </button>
  </div>

  <div class="mat-elevation-z8">
    <mat-table [dataSource]="brandDataSource" multiTemplateDataRows matSort class="mat-table">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Név</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="ceo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>CEO (vezérigazgató)</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.ceo}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="headquarters">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Székhely</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.headquarters}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Műveletek</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="dialogInit(element.id)">
            <mat-icon>create</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteBrand(element.id)">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let rowNo; columns: displayedColumns"></mat-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons></mat-paginator>
  </div>
</div>
