<div class="center">
  <div class="top-row">
    <button color="primary" mat-raised-button (click)="dialogInit(null)">
      <mat-icon>add</mat-icon> Új monitor felvétele
    </button>
  </div>

  <mat-table [dataSource]="monitorDataSource" multiTemplateDataRows matSort class="mat-table mat-elevation-z8">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Név</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="brand">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Márka</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.brand.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="aspectRatio">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Képarány</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.aspectRatio}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="resolution">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Felbontás</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.resolution}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="panelType">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Panel típusa</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.panelType}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="refreshRate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Képfrissítési frekvencia</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.refreshRate}} Hz</mat-cell>
    </ng-container>

    <ng-container matColumnDef="displaySize">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Kijelző mérete</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.displaySize}}"</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Műveletek</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="dialogInit(element.id)">
          <mat-icon>create</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteMonitor(element.id)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let rowNo; columns: displayedColumns"></mat-row>

    <mat-paginator [pageSizeOptions]="[50, 25, 10, 5]" showFirstLastButtons></mat-paginator>
  </mat-table>


</div>
