<mat-toolbar color="primary" class="mat-elevation-z6">
  <ng-container *ngIf="global.isLoggedInStatus; else notLoggedIn">
    <a [routerLink]="'/home'">
      <button mat-button>
        <mat-icon>home</mat-icon>
        Főoldal
      </button>
    </a>
    <a [routerLink]="'/brand'">
      <button mat-button>
        <mat-icon>location_city</mat-icon>
        Márkák
      </button>
    </a>
    <a [routerLink]="'/monitor'">
      <button mat-button>
        <mat-icon>monitor</mat-icon>
        Monitorok
      </button>
    </a>
    <span class="spacer"></span>
    <span>{{global.loggedInAccount?.username}} ({{global.loggedInAccount?.roles.includes(roles.ROLE_ADMIN) ? 'admin' : 'kliens'}})</span>
    <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon>
      Kilépés
    </button>
  </ng-container>

  <ng-template #notLoggedIn>
    <span>Monitor kezelő rendszer</span>
  </ng-template>
</mat-toolbar>
