<div class="center">
  <mat-card>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <mat-card-title>
        {{isRegistration ? 'Új fiók létrehozása' : 'Belejentkezés a fiókba'}}
      </mat-card-title>
      <div style="text-align: right">
        <mat-card-subtitle (click)="toggleState()">
          {{!isRegistration ? 'Regisztráció' : 'Belépés'}}
        </mat-card-subtitle>
      </div>

      <mat-card-content>
        <mat-form-field>
          <mat-label>Felhasználónév</mat-label>
          <input matInput [formControl]="username" required>
          <mat-error>
            A mező kitöltése kötelező
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Jelszó</mat-label>
          <input matInput [formControl]="password" required type="password">
          <mat-error>
            A mező kitöltése kötelező
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="isRegistration">
          <mat-label>Email</mat-label>
          <input matInput [formControl]="email" required type="email">
          <mat-error>
            <div *ngIf="email.errors?.['required']">
              A mező kitöltése kötelező
            </div>
            <div *ngIf="email.errors?.['email']">
              Email formátum hiba
            </div>
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">
          {{isRegistration ? 'Regisztrálok' : 'Belépek'}}
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
