mat-card {
  margin: 20vh auto;
  width: 30%;
  text-align: center;
}

.mat-card-subtitle {
  text-align: right;
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
}

button {
  width: 80%;
}

@media (max-width: 1000px) {
  mat-card {
    width: 60%;
  }
}
