body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.top-row {
  display: flex;
  justify-content: flex-end;
}

input {
  width: 90%;
  padding: 2px;
}

.center {
  margin: 90px auto 1% auto;
  width: 85%;
  padding-bottom: 50px;
}

.title {
  text-align: center;
  margin-bottom: 0 !important;
  height: 2em;
  font-size: 2em;
  font-weight: 700;
  color: #464646;
}

mat-table {
  width: 100%;
  margin: 20px auto 0 auto;
  overflow: auto !important;
}

mat-row, mat-header-row, .mat-row {
  min-width: 500px;
}

mat-header-cell {
  background-color: #464646;
  color: #FFFFFF !important;
  font-weight: bold !important;
  font-size: 14px !important;
}

.mat-row:nth-child(even) {
  background-color:#ffffff;
}

.mat-row:nth-child(odd) {
  background-color:#f0f0f0;
}

table {
  width: 100%;
}

mat-form-field {
  width: 80%;
}

mat-grid-tile {
  overflow: visible !important;
}

.mat-column-actions {
  flex: 0 0 10% !important;
  justify-content: center !important;
}

/* ANGULAR MATERIAL OVERWRITE */
.mat-focused .placeholder {
  color: black;
}

mat-cell mat-icon {
  color: #464646;
}

.mat-dialog-title {
  padding: 10px 5px;
  text-align: center;
  background-color: #464646;
  color: #FFFFFF;
}

mat-dialog-actions {
  width: 100%;
  justify-content: flex-end;
}

.mat-tooltip.tooltip {
  font-size: 15px;
}

button {
  font-size: 16px !important;
}

button mat-icon {
  margin-top: -3px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@media (max-width: 800px) {
  .mat-column-actions {
    justify-content: normal !important;
  }

  .center {
    width: 90% !important;
  }
}

@media (max-width: 500px) {
  mat-dialog-actions {
    justify-content: center;
  }
}
